<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Jodel Web</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/assets/font-awesome-4.6.3/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/style.css">
        <script src="/static/jscript.js"></script>
    </head>
    <body>
        <div id="background-overlay"></div>
        <header class="header">
            <nav class="navigation">
                <h1 class="title">Jodel Web</h1>
                <div class="header-links">
                    <i class="fa fa-user links" id="user" href="#"></i>
                    <i class="fa fa-cog links " id="settings"href="#"></i>
                </div>
            </nav>
            <aside id="sidebarUser" >
                <ul class="me-profile">
                    <li class="me-profile-item">Save my Karma!</li>
                    <li class="me-profile-item">WTF is Karma?</li>
                    <li class="me-profile-item">FAQ</li>
                    <li class="me-profile-item">I love Jodel</li>
                    <li class="me-profile-item">Contact us</li>
                </ul>
            </aside>
        </header>
        <main>
            <section class="main-content">
                <div class="buttons-wrapper">
                    <button name="button" class="button">Newest</button>
                    <button name="button" class="button">Most commented</button>
                    <button name="button" class="button">Loudest</button>
                </div>
                <div class="messages-wrapper">
                    <div class="message">
                        <div class="message-text">
                            <p>This is a placeholder message No.:1. Rebum dolore neglegentur cum ea, mazim persecuti cum id. Pro cu quis quod, te mei habeo mediocrem. Vis ut quas nihil. At has solet partiendo.</p>
                        </div>
                        <div class="message-navigation">
                            <i class="fa fa-arrow-circle-up message-navigation-elements"></i>
                            <span class="counter message-navigation-elements">100</span>
                            <i class="fa fa-arrow-circle-down message-navigation-elements"></i>
                        </div>
                        <div class="message-data">
                            <i class="fa fa-clock-o"></i> 7h
                            <i class="fa fa-map-marker left-padding"></i> close

                        </div>
                    </div>
                    <div class="message">
                        <div class="message-text">
                            <p>This is a placeholder message No.:2. Per ex primis fabulas, quem dicunt has ex. Mei cu altera luptatum assentior. Vis ne vidit suscipit, luptatum convenire intellegat an duo. Bonorum adipisci et usu. Autem signiferumque an sed.</p>
                        </div>
                        <div class="message-navigation">
                            <i class="fa fa-arrow-circle-up message-navigation-elements"></i>
                            <span class="counter message-navigation-elements">10</span>
                            <i class="fa fa-arrow-circle-down message-navigation-elements"></i>
                        </div>
                        <div class="message-data">
                            <i class="fa fa-clock-o"></i> 2h
                            <i class="fa fa-map-marker left-padding"></i> very close

                        </div>
                    </div>
                    <div class="message">
                        <div class="message-text">
                            <p>
                                This is a placeholder message No.:3. Sumo melius mea ut. Cu viris nullam quo, minim feugait eum ei. Ne nec efficiendi intellegebat, eirmod ceteros no his, solum reprimique dissentias quo te. Has eu quodsi corrumpit. Ut nobis volumus complectitur eum, ius molestie ullamcorper id.
                            </p>
                                                </div>
                        <div class="message-navigation">
                            <i class="fa fa-arrow-circle-up message-navigation-elements"></i>
                            <span class="counter message-navigation-elements">150</span>
                            <i class="fa fa-arrow-circle-down message-navigation-elements"></i>
                        </div>
                        <div class="message-data">
                            <i class="fa fa-clock-o"></i> 3h
                            <i class="fa fa-map-marker left-padding"></i> close

                        </div>
                    </div>
                    <div class="message">
                        <div class="message-text">
                            <p>
                                This is a placeholder message No.:4. Vel ex error oblique perfecto, et cum tollit incorrupte, et dictas maiorum reformidans his. Nulla libris fuisset in mei. Sit alienum adipisci pericula et, laudem option no nec. Alienum voluptatum te usu, ut alia meis omnium eos.
                            </p>
                        </div>
                        <div class="message-navigation">
                            <i class="fa fa-arrow-circle-up message-navigation-elements"></i>
                            <span class="counter message-navigation-elements">200</span>
                            <i class="fa fa-arrow-circle-down message-navigation-elements"></i>
                        </div>
                        <div class="message-data">
                            <i class="fa fa-clock-o"></i> 4h
                            <i class="fa fa-map-marker left-padding"></i> close

                        </div>
                    </div>
                    <div class="message">
                        <div class="message-text">
                            <p>
                                This is a placeholder message No.:5. Sumo melius mea ut. Cu viris nullam quo, minim feugait eum ei. Ne nec efficiendi intellegebat, eirmod ceteros no his, solum reprimique dissentias quo te. Has eu quodsi corrumpit. Ut nobis volumus complectitur eum, ius molestie ullamcorper id.
                            </p>
                                                </div>
                        <div class="message-navigation">
                            <i class="fa fa-arrow-circle-up message-navigation-elements"></i>
                            <span class="counter message-navigation-elements">178</span>
                            <i class="fa fa-arrow-circle-down message-navigation-elements"></i>
                        </div>
                        <div class="message-data">
                            <i class="fa fa-clock-o"></i> 2min
                            <i class="fa fa-map-marker left-padding"></i> very close

                        </div>
                    </div>
                    <div class="message">
                        <div class="message-text">
                            <p>
                                This is a placeholder message No.:6. Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo.
                            </p>                        </div>
                        <div class="message-navigation">
                            <i class="fa fa-arrow-circle-up message-navigation-elements"></i>
                            <span class="counter message-navigation-elements">18</span>
                            <i class="fa fa-arrow-circle-down message-navigation-elements"></i>
                        </div>
                        <div class="message-data">
                            <i class="fa fa-clock-o"></i> 17h
                            <i class="fa fa-map-marker left-padding"></i> close

                        </div>
                    </div>
                    <div class="message">
                        <div class="message-text">
                            <p>
                                This is a placeholder message No.:7. Ne simul noluisse conclusionemque qui, te eum nihil veritus, modus harum has ad. Lucilius patrioque at pri, sea id malis facer platonem. At vix facilis voluptatibus, te per rebum accusata repudiandae, nusquam convenire est ne. Gloriatur eloquentiam theophrastus cum an, his habeo porro instructior id, no vis verear corrumpit. Ea ocurreret pertinacia has, ad nusquam commune mea, option utamur est no. Augue errem mnesarchum at vis, legimus consequat per ea, eam ei causae tibique mandamus.
                            </p>                        </div>
                        <div class="message-navigation">
                            <i class="fa fa-arrow-circle-up message-navigation-elements"></i>
                            <span class="counter message-navigation-elements">100</span>
                            <i class="fa fa-arrow-circle-down message-navigation-elements"></i>
                        </div>
                        <div class="message-data">
                            <i class="fa fa-clock-o"></i> 1h
                            <i class="fa fa-map-marker left-padding"></i> close

                        </div>
                    </div>
                    <div class="message">
                        <div class="message-text">
                            <p>
                                This is a placeholder message No.:8. Ut vix liber repudiare, quo ut ocurreret elaboraret definitionem, vix omnis discere nominavi ex. Has ne discere habemus aliquando, cu senserit corrumpit mel, illum impedit quaestio mea ut. Ne vel falli eleifend, ut has agam offendit partiendo.
                            </p>                        </div>
                        <div class="message-navigation">
                            <i class="fa fa-arrow-circle-up message-navigation-elements"></i>
                            <span class="counter message-navigation-elements">45</span>
                            <i class="fa fa-arrow-circle-down message-navigation-elements"></i>
                        </div>
                        <div class="message-data">
                            <i class="fa fa-clock-o"></i> 3h
                            <i class="fa fa-map-marker left-padding"></i> close

                        </div>
                    </div>
                    <div class="message">
                        <div class="message-text">
                            <p>
                                This is a placeholder message No.:9. Libris deseruisse moderatius duo ne. Ad sea magna tincidunt consectetuer. Ius appareat scribentur intellegebat cu, sit cu fierent vulputate, vel ut case meliore efficiendi.
                            </p>                        </div>
                        <div class="message-navigation">
                            <i class="fa fa-arrow-circle-up message-navigation-elements"></i>
                            <span class="counter message-navigation-elements">10</span>
                            <i class="fa fa-arrow-circle-down message-navigation-elements"></i>
                        </div>
                        <div class="message-data">
                            <i class="fa fa-clock-o"></i> 2.5h
                            <i class="fa fa-map-marker left-padding"></i> close

                        </div>
                    </div>
                    <div class="message">
                        <div class="message-text">
                            <p>
                                This is a placeholder message No.:10. Has ex elitr primis delicata, qui ea aliquid omnesque tractatos. Veniam eligendi noluisse mei eu, veri sadipscing definitiones ius no. Vel ut minim graeco ornatus, quo at natum reformidans instructior, eos ad dicit quando aliquid. Mel verterem qualisque intellegebat id, detracto pericula conclusionemque eu mea, eum ea ipsum affert ponderum. Nec ut splendide incorrupte, no assum mollis nonumes sea.
                            </p>                        </div>
                        <div class="message-navigation">
                            <i class="fa fa-arrow-circle-up message-navigation-elements"></i>
                            <span class="counter message-navigation-elements">650</span>
                            <i class="fa fa-arrow-circle-down message-navigation-elements"></i>
                        </div>
                        <div class="message-data">
                            <i class="fa fa-clock-o"></i> 2h
                            <i class="fa fa-map-marker left-padding"></i> close

                        </div>
                    </div>
                    <div class="message">
                        <div class="message-text">
                            <p>
                                This is a placeholder message No.:11.
                            </p>                        </div>
                        <div class="message-navigation">
                            <i class="fa fa-arrow-circle-up message-navigation-elements"></i>
                            <span class="counter message-navigation-elements">100</span>
                            <i class="fa fa-arrow-circle-down message-navigation-elements"></i>
                        </div>
                        <div class="message-data">
                            <i class="fa fa-clock-o"></i> 7h
                            <i class="fa fa-map-marker left-padding"></i> close

                        </div>
                </div>
                <i class="fa fa-plus-square-o" id="add-new-button"></i>
                <div id="create-new-jodel">
                    <h2>What's on your mind?</h2>
                    <textarea name="textarea"></textarea>
                    <input class="button" type="submit" value="Submit">
                </div>
            </section>

        </main>
    </body>
</html>
